.bg-custom-purple {
    background-color: #6B3CC9 !important;
    text-align: right;
    padding: 20px 0;
  }
  
  .nav-link-custom {
    font-family: sans-serif;
    font-size: 14px; 
    color: white;
   
  }


 